/* Header properties*/
header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
video{
  margin-top: 0;
}
header h1{
  font-size: 5em;
  margin-bottom: 5rem;
}

header h2{
  font-size: 2em;
  margin-bottom: 8em;
}

header video {
  background-image: url("../assets/london_timelapse_fallback.jpg"); /* fallback image */
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  
}

header .container {
  position: relative;
  z-index: 2;
}


/* Project row properties */
.section-title{
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}
.project-row{
  padding-bottom: 25px;
}

.website-screenshot{
  width: 100%;
  height: auto;
}

.extra-bottom-padding{
  padding-bottom: 70px;
}


/* Other sections - About, Contact, Footer */
#about {
  background-image: linear-gradient(135deg,  #000080 0%, #00cdac 100%);
  color: #fff;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

#contact {
  background-color: #02aab0;
  background-image: linear-gradient(135deg, #000080 0%, #00cdac 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 10rem 0 10rem 0;
  color: #fff;
}

.footer {
  background-color: #333333;
  color: #fff;
  padding: 2.8rem 0;
}

/* Image and button properties*/
img{
  display: block;
  margin: auto;
  width: 70%;
}

.btn-div{
  text-align: center;
  padding: 5px;
}

/* Video attribute for cervical cancer project */
.gtv-video{
  display: block;
  margin:auto;
}

/*Zoom properties for website screenshots*/
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05); /* (5% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

/* Icon and social link properties*/

.social-links a {
  flex-direction: column;
  color: #fff;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  margin: 1.6rem;
  transition: all .2s ease-in;
}

.far, .far:hover{
  color: white;
}


/* Hide data science section on page load */
#data-science-section{
  display: none;
}

/* Define website section icon and layout properties*/
.tech-stack-div{
  display: flex;
  justify-content: center;
}

.tech-icon{
  height: 70px;
  width: auto;
  margin: 0 auto;
}


/* Styling list elements*/
ul {
  list-style-type: square;
    padding-left: 15px;
}

li{
  padding-top: 3px;
  padding-bottom: 3px;
}



/* Media queries */
@media only screen and (max-width: 768px) {
  #about {
    background-image: linear-gradient(135deg, #3151ED 0%, #00cdac 100%);
    color: #fff;
    height: 100%;
    border-top: 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 10%;
  }
  header h1{
    font-size: 3em;
    text-align: right;
    margin-bottom: 3rem;
  }

  header h2{
    font-size: 2em;
    text-align: right;
    margin-bottom: 7em;
  }

  .zoom:hover {
   transform: scale(1); 
 }
}

